body {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly; 
}

.header {
    margin: 0;
    padding: 10px 20vh 0px;
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar {
    margin-left: auto;
}

ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

.links {}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.welcome {
    margin: 0;
    padding: 10vh 20vh 10vh;
}

.welcome,
.footer {
    background-color: #1F2937;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left {
    height: auto;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: left;
    gap: 10px;
}

.hero-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.welcome .message {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    font-size: 20px;
    font-weight: bold;
    background: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.welcome button {
    border: none;
}

.right {
    padding: 0%;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    padding: 0;
    margin: 0;
    width: 400px;
}

.portfolio {
    padding: 10px 20vh 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.heading {
    padding: 35px;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.items {
    padding-bottom: 35px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

.item {
    padding: 10px;
    width: 25%;
    color: gray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item img {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 8px;
    margin-bottom: 10px;
}   

.testimonial {
    background-color: #e5e7eb;
    padding: 10px 20vh 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.quote {
    padding: 100px 20vh 0px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    display: flex;
}

.speaker {
    padding: 0px 20vh 100px;
    font-weight: 800;
    font-size: 20px;
    text-align: right;
}

.contact-form {
    margin: 100px 20vh 100px;
    padding: 50px 0px 50px;
    background-color:#3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact-form .message {}

.title {
    font-size: 20px;
    font-weight: 800;
}

.contact-form button {
    border: solid;
}

.footer {
    padding: 35px;
    color:#e5e7eb;
}
